<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38485533445-oja0rg6731bnc1qadtr9od3ld1us7roe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38485533445-oja0rg6731bnc1qadtr9od3ld1us7roe</string>
	<key>API_KEY</key>
	<string>AIzaSyAR_BF09a3ld6xWQzeCFYHFI2jZ-2_88js</string>
	<key>GCM_SENDER_ID</key>
	<string>38485533445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.priyanshutaru.firebaselecture1</string>
	<key>PROJECT_ID</key>
	<string>fir-lecone</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-lecone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38485533445:ios:a28876858303824506cd6c</string>
</dict>
</plist>